@font-face {
  font-family: "Rajdhani Regular";
  src:
    url("/fonts/Rajdhani-Regular.woff2") format("woff2"),
    url("/fonts/Rajdhani-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Rajdhani Medium";
  src:
    url("/fonts/Rajdhani-Medium.woff2") format("woff2"),
    url("/fonts/Rajdhani-Medium.ttf") format("ttf");
}

:root {
  --font-regular: "Rajdhani Regular", sans-serif;
  --font-medium: "Rajdhani Medium", sans-serif;
}
